/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Apr 2021, 10:36:13
    Author     : Z-Kai
*/

/*nav:hover
{
    z-index: 1;
}*/

#main > * 
{
    clear: both;
}

#main 
{
    margin: 0;
    height: 100%;
    padding: 0%;
    width: 100%;
}


#mainContainer 
{
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

header > *
{
    text-align: center;
    margin: 0;
    /*display: inline;*/
/*    margin-left: auto;
    margin-right: auto;*/
}

#btnMenu
{
    margin: 5% 5%;
    overflow: hidden;
    padding: 20px 0px;
    display: block;
    float: left;
}

#navMenu > a
{
    display: inline;
    margin: 0% 2%;
    padding: 0%;
}

.contractWaarde
{
    display: inline;
    margin: 5%;
}

/*header > a > img
{
    height: 100%;
}*/

nav 
{
    float: left;
    padding: 0 20px 0 0;
    display: inline-block;
    background: rgb(75, 75, 75);
    width: 15%;
    position: relative;
    margin: 0;
}

nav > ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a 
{
    display: block;
    text-align: center;
    transition: 0.5s;
}

header 
{
    right: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    top: 0;
    width: 100%;
}

header > a
{
    padding: 0%;
    margin: auto;
    width: 70%;
    float: left;
}

header > h3
{
    /*float: left;
    width: max-content;*/
    display: inline;
    padding: 24px 0%;    
}

header > div
{
    float: right;
    padding: 0%;
    width: 30%;
    margin: 2% 0;
}

section 
{
    margin: auto;
    width: 100%;
}