header {
    width:100%;
    height: 50px;
}
header div:first-child {
    float: right;
    border: dotted black 1px;
    margin: 10px;
    padding: 10px;
}
header div img {
    border-radius: 50%;
}
header div div h3 {
    margin-top: 5px;
}
header div div {
    float: left;
}
header div div span {
    font-style: italic;
}