body {
    padding: 0;
    margin: 0;
    font-family: ElliotSans-Regular;
    overflow: hidden;
}

@font-face {
    font-family: ElliotSans-Regular;
    src: url('../../../../../../font/ElliotSans-Regular.ttf');
}

@font-face {
    font-family: "Rounded Elegance";
    src: url('../../../../../../font/Rounded_Elegance.ttf');
}

@media only screen and (orientation: landscape) {

    header {
        width: 80%;
    }

        header > h1 {
            text-align: center;
            padding: 1% 4%;
            height: 100%;
            font-family: "Rounded Elegance";
            font-size: 24px;
        }

    nav {
        background-color: #205867;
        display: inline-block;
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        margin: 0;
    }

    #main {
        margin-left: 20%;
        width: 80%;
        height: 100vh;
    }

        #main > p {
            position: absolute;
            top: 15%;
            left: 50%;
            right: 30%;
            text-align: center;
        }

    nav > h3 {
        width: 100%;
    }

    nav ul a {
        padding: 10px 75px;
    }

    section {
        width: 100%;
    }

    section > #main > div {
        position: absolute;
        top: 15%;
        left: 50%;
        right: 26%;
        bottom: 61%;
        width: 25%;
    }
}

@media only screen and (orientation: portrait) {
    /*Als er een smartphone of andere touchscreen apparaat gebruikt wordt*/
    @media(hover:hover) {
        /*Hier komt code voor het tonen van navigatievenster via touchscreen*/
        nav {
            z-index: 1;
        }
    }

    nav:hover {
        z-index: 1;
    }

    header > h1 {
        font-size: 14px;
        padding: 3% 4%;
        text-align: center;
        height: 100%;
        font-family: "Rounded Elegance";
    }

    nav > h3 {
        width: 100%;
    }

    nav {
        z-index: -1;
        background-color: #205867;
        display: inline-block;
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        margin: 0;
    }

    #main {
        width: 100%;
        position: absolute;
        height: 77%;
        top: 91px;
    }

    #main > p {
        padding: 10%;
        display: block;
        position: absolute;
        left: 20%;
        top: -7%;
        right: 10%;
    }

    nav > h3 {
        width: 175%;
    }

    header {
        width: 65%;
    }

    nav ul a {
        padding: 10px 10px;
    }

    nav > h3 > a {
        font-size: 13px;
    }

    nav ul {
        width: 175%;
        background-color: #205867;
        height: 100%;
    }

    section > #main > div {
        position: absolute;
        top: 5%;
        left: 25%;
        right: 18%;
        width: 50%;
    }
}

@media screen and (max-width: 1400px) {

    nav ul a {
        padding: 10px 15px;
    }
}


header {
    background-color: #DBEEF3;
    right: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    position: fixed;
    height: 91px;
    top: 0;
    z-index: 1;
}

nav > h3 {
    padding: 20px 0px;
    background-color: #31859B;
    margin: 0px;
    height: 50px;
    display: block;
    overflow: hidden;
    transition: 0.5s;
}

nav > h3 > a {
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

header > h1 {
    text-align: center;
    height: 100%;
    font-family: "Rounded Elegance";
}

nav > h3:hover {
	background-color: #fff;
	color: #000;
}

a {
  text-decoration: none;
  color: black;
}

li {
     transition: 0.5s;
}

li:hover {
    color: #000;
    background-color: #fff;
}

nav 
{
    background-color: #205867;
    margin: 0px;
	display: inline-block;
    height: 100%;
    width: 20%;
    top: 0;
    position: fixed;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: #3287DC;
    text-align: center;
	margin: 0px;
}

nav ul li + li {
    background-color: #82AC2D;
    text-align: center;
	margin: 0px;
}

nav ul li + li + li {
    background-color: #FDD048;
    text-align: center;
	margin: 0px;
}

nav ul li + li + li + li {
    background-color: #C05046;
    text-align: center;
	margin: 0px;
}

nav ul li + li + li + li + li {
    background-color: #C05046;
    text-align: center;
	margin: 0px;
}

nav ul a
{
	display: block;
	text-align: center;
}

section {
    background-color: #fff;
    margin: 0;
}

footer {
	background-color: #90d2e3;
	text-align: center;
	display: block;
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;	
	margin: 0px;
    z-index: 2;
}

#main > * {
    font-family: ElliotSans-Regular;
    clear: both;
    text-align: center;
}

#main {
    padding: 0;
    font-family: trocchi, georgia, times, serif;
    overflow-y: scroll;
    background-color: #A3E1FF;
}

input, button {
    display: block;
    margin: 0 auto;
}

button {
    border: none;
}

