#main
{
    margin: 0;
    height: 100%;
    padding: 0%;
    width: 100%;
}

#main > * 
{
    clear: both;
}

#main > section
{
    overflow-x: overlay;
}

#mainContainer 
{
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

header > *
{
    text-align: center;
    margin: 0;
    /*display: inline;*/
/*    margin-left: auto;
    margin-right: auto;*/
}

#btnMenu
{
    margin: 5% 5%;
    padding: 20px 0px;
    display: inline;    
    float: left;
}

#navMenu > a
{
    display: inline;
    margin: 0% 2%;
    padding: 0%;
}

nav 
{
    float: left;
    padding: 0 20px 0 0;
    display: inline-block;
    background: rgb(75, 75, 75);
    width: 15%;
    position: relative;
    margin: 0;
}

nav > ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a 
{
    display: block;
    text-align: center;
    transition: 0.5s;
}

header 
{
    right: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    top: 0;
    width: 100%;
}

header > a
{
    padding: 0%;
    margin: auto;
    width: 70%;
    float: left;
}

header > h3
{
    /*float: left;
    width: max-content;*/
    display: inline;
    padding: 24px 0%;    
}

header > div
{
    float: right;
    padding: 0%;
    width: 30%;
    margin: 2% 0;
}

#menuBox
{
    float: left; 
    width: calc(100%/3);
}

#indexBox
{
    float: left;
    display: inline;
}

#accountBox
{
    float: right;
    padding: 0% 4%;
    margin: 3% 0;
}

section 
{
    margin: auto;
    width: 100%;
}

.u-section-1 {
  min-height: 200px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  width: 243px;
  margin: 39px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  width: 218px;
  margin: -49px auto 60px calc(((100% - 1140px) / 2) + 336px);
}

/*@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    transform-origin: right center 0px;
    margin-top: 44px;
  }

  .u-section-1 .u-btn-1 {
    width: 241px;
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    width: 241px;
    margin-left: calc(((100% - 940px) / 2) + 336px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2) + 336px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 322px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 122px);
  }
}*/

.u-section-2 {
  min-height: 437px;
}

.u-section-2 .u-text-1 {
  margin: 25px calc(((100% - 1140px) / 2) + 731px) 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-table-1 {
  width: 1140px;
  margin: 47px auto 46px;
}

.u-block-7591-18 {
  font-weight: 700;
}

.u-block-7591-19 {
  height: 22px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-15 {
  font-weight: 400;
}

/*@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 531px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-line-1 {
    margin-top: -275px;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
    height: 429px;
    margin-top: 185px;
    margin-left: calc(((100% - 940px) / 2));
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 311px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-table-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 131px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-line-1 {
    margin-top: -1579px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-top: 1465px;
    margin-left: calc(((100% - 340px) / 2));
  }
}*/
.u-section-3 {
  min-height: 532px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-3 .u-table-1 {
  width: 1140px;
  margin: 47px auto 33px;
}

.u-block-8d41-19 {
  font-weight: 700;
}

.u-block-8d41-20 {
  height: 22px;
}

.u-section-3 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-15 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-21 {
  font-weight: 700;
}

/*@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
    height: 429px;
    margin-top: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 340px;
  }
}*/

.u-section-4 {
  min-height: 549px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: calc(((100% - 1140px) / 2) + 1231px);
  margin: 40px calc(((100% - 1140px) / 2) + -91px) 0 auto;
}

.u-section-4 .u-table-1 {
  width: 1140px;
  margin: 40px auto;
}

.u-block-6651-18 {
  font-weight: 700;
}

.u-block-6651-19 {
  height: 22px;
}

.u-section-4 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-14 {
  background-image: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-15 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-16 {
  background-image: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-21 {
  font-weight: 700;
}

/*@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-table-1 {
    width: 940px;
    height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }
}*/

.u-section-5 {
  min-height: 348px;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 0;
}

.u-section-5 .u-table-1 {
  width: 1140px;
  margin: 59px auto 10px;
}

.u-block-63e7-18 {
  font-weight: 700;
}

.u-block-63e7-19 {
  height: 22px;
}

.u-section-5 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-5 .u-table-cell-13 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-table-1 {
    width: 940px;
    height: 429px;
    margin-top: 188px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-table-1 {
    width: 540px;
  }
}

/*@media (max-width: 575px) {
  .u-section-5 .u-table-1 {
    width: 340px;
  }
}*/
.u-section-6 {
  min-height: 186px;
}

.u-section-6 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 26px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 26px auto 31px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 110px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 9px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 110px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 110px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 0 34px 0 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 110px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin: 0 auto 0 0;
}

/*@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 167px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 91px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2) + 684px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 91px;
  }

  .u-section-6 .u-text-3 {
    margin: -26px calc(((100% - 940px) / 2) + 407px) 60px calc(((100% - 940px) / 2) + 301px);
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 337px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 464px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 297px);
    margin-left: calc(((100% - 720px) / 2) + 191px);
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 563px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 284px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 207px);
    margin-left: calc(((100% - 540px) / 2) + 101px);
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 423px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 84px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 107px);
    margin-left: calc(((100% - 340px) / 2) + 1px);
  }
}*/

.u-section-7 {
  min-height: 495px;
}

.u-section-7 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-table-1 {
  width: 1140px;
  margin: 31px auto;
}

.u-block-d214-32 {
  font-weight: 700;
}

.u-block-d214-60 {
  height: 22px;
}

.u-section-7 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-23 {
  font-weight: 700;
}

/*@media (max-width: 1199px) {
  .u-section-7 .u-line-1 {
    margin-top: 33px;
  }

  .u-section-7 .u-table-1 {
    width: 940px;
    margin-top: 275px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-table-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-table-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}*/
.u-section-8 {
  min-height: 285px;
}

.u-section-8 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 28px auto 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 28px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 113px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 256px;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 113px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: 256px;
  margin: 14px auto 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 113px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 0 167px;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 113px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 0 167px;
}

/*@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 561px;
  }

  .u-section-8 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 140px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 30px;
    margin-right: calc(((100% - 940px) / 2) + 684px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 93px;
  }

  .u-section-8 .u-text-2 {
    margin: -26px calc(((100% - 940px) / 2) + 383px) 60px calc(((100% - 940px) / 2) + 301px);
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 93px;
  }

  .u-section-8 .u-text-3 {
    width: 256px;
    margin-left: 117px;
    margin-right: 117px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 93px;
  }

  .u-section-8 .u-text-4 {
    width: 256px;
    margin-left: 117px;
    margin-right: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 499px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 464px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 273px);
    margin-left: calc(((100% - 720px) / 2) + 191px);
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 62px;
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 853px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 284px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 183px);
    margin-left: calc(((100% - 540px) / 2) + 101px);
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 685px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 84px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 83px);
    margin-left: calc(((100% - 340px) / 2) + 1px);
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}*/

.u-section-9 {
  min-height: 386px;
}

.u-section-9 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 36px calc(((100% - 1140px) / 2) + 1023px) 0 calc(((100% - 1140px) / 2) + 13px);
}

.u-section-9 .u-form-1 {
  width: 828px;
  margin-left: calc(((100% - 1140px) / 2) + 135px);
  margin-bottom: 60px;
  margin-top: -32px;
  height: 199px;
}

/*@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 836px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-9 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + 113px);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 616px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-9 .u-form-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 436px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-9 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 236px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-9 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}*/

.u-section-10 {
  min-height: 473px;
}

.u-section-10 .u-line-1 {
  left: auto;
  top: 201px;
  position: absolute;
  height: 31px;
  width: 3px;
  transform-origin: center bottom 0px;
  right: 196px;
}

.u-section-10 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 43px calc(((100% - 1140px) / 2) + 1021px) 0 calc(((100% - 1140px) / 2) + -34px);
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  width: 306px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2) + 2px);
}

.u-section-10 .u-table-1 {
  width: 1140px;
  margin: 33px auto 0;
}

.u-section-10 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-10 .u-btn-2 {
  border-style: none;
  width: 60px;
  margin: -106px calc(((100% - 1140px) / 2) + 135px) 0 auto;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  border-style: none;
  width: 64px;
  margin: -25px calc(((100% - 1140px) / 2) + 32px) 60px auto;
  padding: 0;
}

/*@media (max-width: 1199px) {
  .u-section-10 .u-line-1 {
    margin-top: 0;
  }

  .u-section-10 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 921px);
    margin-left: calc(((100% - 940px) / 2) + -34px);
  }

  .u-section-10 .u-btn-1 {
    margin-top: 155px;
    margin-left: calc(((100% - 940px) / 2) + 2px);
  }

  .u-section-10 .u-table-1 {
    width: 940px;
    height: 122px;
    margin-top: -316px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-btn-2 {
    width: 72px;
    margin-top: 243px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-10 .u-btn-3 {
    width: 72px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 811px);
    margin-left: calc(((100% - 720px) / 2) + -34px);
  }

  .u-section-10 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 2px);
  }

  .u-section-10 .u-table-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-10 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 721px);
    margin-left: calc(((100% - 540px) / 2) + -34px);
  }

  .u-section-10 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2) + 2px);
  }

  .u-section-10 .u-table-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-10 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 621px);
    margin-left: calc(((100% - 340px) / 2) + -34px);
  }

  .u-section-10 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2) + 2px);
  }

  .u-section-10 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-10 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }
}*/

.u-section-11 {
  min-height: 438px;
}

.u-section-11 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 30px calc(((100% - 1140px) / 2) + 859px) 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: none;
  width: 246px;
  margin: 27px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-11 .u-text-2 {
  font-style: normal;
  margin: 33px calc(((100% - 1140px) / 2) + 909px) 0 0;
}

.u-section-11 .u-table-1 {
  width: 1140px;
  margin: 27px auto 60px;
}

.u-section-11 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

/*@media (max-width: 1199px) {
  .u-section-11 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 659px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-btn-1 {
    width: 245px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 709px);
    margin-bottom: 60px;
  }

  .u-section-11 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 439px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 489px);
  }

  .u-section-11 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 259px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 309px);
  }

  .u-section-11 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 59px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-11 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-11 .u-table-1 {
    width: 340px;
  }
}*/