#main > * 
{
    clear: both;
}

#main 
{
    margin: 0;
    padding: 0 12%;
}

#main > section
{
    overflow-x: overlay;
}

#mainContainer 
{
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

header > *
{
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

#btnMenu
{
    margin: 5% 5%;
    padding: 20px 0px;
    display: inline;    
    float: left;
}

#navMenu > a
{
    display: inline;
    margin: 0% 2%;
    padding: 0%;
}

nav 
{
    float: left;
    padding: 0 20px 0 0;
    display: inline-block;
    background: rgb(75, 75, 75);
    width: 15%;
    position: relative;
    margin: 0;
}

nav > ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a 
{
    display: block;
    text-align: center;
    transition: 0.5s;
}

header 
{
    right: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    top: 0;
    width: 100%;
}

header > a
{
    padding: 0%;
    margin: auto;
    width: 70%;
    float: left;
}

header > h3
{
    /*float: left;
    width: max-content;*/
    display: inline;
    padding: 24px 0%;    
}

header > div
{
    float: right;
    padding: 0%;
    width: 30%;
    margin: 2% 0;
}

section 
{
    margin: auto;
    width: 100%;
}

#menuBox
{
    float: left; 
    width: calc(100%/3);
}

#indexBox
{
    float: left;
    display: inline;
}

#accountBox
{
    float: right;
    padding: 0% 4%;
    margin: 3% 0;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 52px 458px 0;
}

.u-section-1 .u-form-1 {
  height: 282px;
  width: 885px;
  margin: 30px auto 30px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 358px;
    margin-right: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 248px;
    margin-right: 248px;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 158px;
    margin-right: 158px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  /*min-height: 464px;*/
}

-u-section-2 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}