body {
    margin:  0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    color:  #fff;
    background: red;
    text-align: center;
    position: fixed;
    top: 0;
}
/*
#wrapper {
    width: 70%;
    margin: 100px 205px;
}
*/
a {
    text-decoration:  none;
}

nav {
    color: white;
    display: block;
    width : 200px;
    position: absolute;
    top: 80px;
    min-height: 200px;
    background-color: blue;
}

nav ul a {
    color: white;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

/*css opmaak voor opdracht 130*/
table {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Tahoma;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 40%;

}

thead {
    background-color: blue;
    color: white;
}

td {
    border: 2px solid black;
}
tbody td:first-child {
    background-color: red;
    color: white;
}
#vakcijfer {
    font-weight: bold;
    border: 2px solid black;
    font-size: 24px;
}
/*.schoppen {
    background-position-x: -79px;
}

.twee {
    background-position-y: -369px;
}
*/
#wrapper  input {
    border: none;
    display: block;
    color: white;
    background-color: #000;
    margin: 1vh 0;
    position: relative;
}
#wrapper {
    width: 1240px;
    margin: 100px 87% 40px 13%;
}

/*p {
    margin: 3px;
    width: 79px;
    height: 123px;
    float: left;
    left: 88%;
    background-image: url('../css/cards.png');
}*/

hr {
    clear: both;
}

.klaveren {
    background-position-y: 0px;
}

.ruiten {
    background-position-y: -123px;
}

.harten {
    background-position-y: -246px;
}

.schoppen {
    background-position-y: -369px;
}

/*****************
.aas {
    background-position-x: 0;
}

.twee {
    background-position-x: -79px;
}
********************/

.blind {
    background-position-y: -492px;
    background-position-x: -158px;
    position: absolute;
}

div.game{
    position: relative;
    top: 150px;
}

form {
    position: absolute;
    left: 40%;
    right: 40%;
}