body {
    padding: 0;
    margin: 0;
    font-family: ElliotSans-Regular;
    overflow: hidden;
}

@font-face {
    font-family: ElliotSans-Regular;
    src: url('../../../../../font/ElliotSans-Regular.ttf');
}

@font-face {
    font-family: "Rounded Elegance";
    src: url('../../../../../font/Rounded_Elegance.ttf');
}

@media only screen and (orientation: landscape) {

    header {
        width: 80%;
    }

    header > h1 {
        text-align: center;
        padding: 1% 4%;
        height: 100%;
        font-family: "Rounded Elegance";
        font-size: 24px;
    }

    nav {
        background-color: #205867;
        display: inline-block;
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        margin: 0;
    }

    #main {
        margin-left: 20%;
        width: 80%;
        height: 100vh;
    }

    #main > p {
        position: absolute;
        top: 15%;
        left: 50%;
        right: 30%;
        text-align: center;
    }

    nav > h3 {
        width: 100%;
    }

    nav ul a {
        padding: 10px 75px;
    }

    section {
        width: 100%;
    }

    section > #main > form {
        position: absolute;
        top: 60%;
        left: 50%;
        right: 26%;
        bottom: 61%;
        width: 25%;
    }
}

@media only screen and (orientation: portrait) {
    /*Als er een smartphone of andere touchscreen apparaat gebruikt wordt*/
    @media(hover:hover) {
        /*Hier komt code voor het tonen van navigatievenster via touchscreen*/
        nav {
            z-index: 1;
        }
    }

    nav:hover {
        z-index: 1;
    }

    header > h1 {
        font-size: 14px;
        padding: 3% 4%;
        text-align: center;
        height: 100%;
        font-family: "Rounded Elegance";
    }

    nav > h3 {
        width: 100%;
    }

    nav {
        z-index: -1;
        background-color: #205867;
        display: inline-block;
        height: 100%;
        width: 20%;
        position: fixed;
        top: 0;
        margin: 0;
    }

    #main {
        margin-left: 0;
        position: absolute;
        background-color: #A3E1FF;
    }

    #main > span {
        display: none;
    }

    #main > p {
        padding: 10%;
        display: block;
        position: absolute;
        left: 20%;
        top: -6%;
        right: 10%;
        font-size: 15px;
    }

    nav > h3 {
        width: 175%;
    }

    header {
        width: 65%;
    }

    nav ul a {
        padding: 10px 10px;
    }

    nav > h3 > a {
        font-size: 13px;
    }

    nav ul {
        width: 175%;
        background-color: #205867;
        height: 100%;
    }

    section > #main > form {
        position: absolute;
        top: 45%;
        left: 20%;
        right: 18%;
        width: 50%;
    }

}

@media screen and (max-width: 1400px) {

    nav ul a {
        padding: 10px 15px;
    }
}


.error {
    background-image: url("../IMG/icon-warning.png");
    background-color: rgba(255, 46, 46, 0.7);
    background-repeat: no-repeat; 
    background-position: 95% center;
}

header {
    background-color: #DBEEF3;
    top: 0;
    right: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    position: fixed;
    height: 91px;
    z-index: 1;
}

nav > h3 {
    padding: 20px 0px;
    background-color: #31859B;
	margin: 0px;
    height: 50px;
    display: block;
    overflow: hidden;
    transition: 0.5s;
}

nav > h3 > a {
    text-align: center;
    margin: 0 auto;
    display: block;
}

header > h1 {
    text-align: center;
    height: 100%;
    font-family: "Rounded Elegance";
}

nav > h3:hover {
	background-color: #fff;
	color: #000;
}

li {
     transition: 0.5s;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
    color: #000;
    background-color: #fff;
}

nav 
{
    background-color: #205867;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20%;
    display: inline-block;
    top: 0;
    position: fixed;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: #3287DC;
    text-align: center;
	margin: 0px;
}

nav ul li + li {
    background-color: #82AC2D;
    text-align: center;
	margin: 0px;
}

nav ul li + li + li {
    background-color: #FDD048;
    text-align: center;
	margin: 0px;
}

nav ul li + li + li + li {
    background-color: #C05046;
    text-align: center;
	margin: 0px;
}

nav ul li + li + li + li + li {
    background-color: #C05046;
    text-align: center;
	margin: 0px;
}

nav ul a
{
	display: block;
	text-align: center;
}

section {
    background-color: #398EB9;
    margin: 0px;
}

footer {
	background-color: #90d2e3;
	text-align: center;
    display: block;
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;	
	margin: 0px;
    overflow: hidden;
    z-index: 2;
}

#main > * {
    font-family: ElliotSans-Regular;
    margin: 0;
    padding: 0;
    clear:both;
}

#main {
    display: block;
    padding: 0;
    background-color: #398EB9;
    margin-top: 91px; 
    width: 0%;
    height: 0vh;
}

section > #main > form {
    margin: auto;
    padding: 1em;
    border: 1px solid black;
    height: 10%;
}

#main > form > div {
    margin-left: 25%;
    margin-right: 50%;  
}

#main > #contactgegevens {
    float: left;
    margin: 0 10% 0 2%;
}

#main > #lebelcontact {
    float: left;
    background-color: #D9958F;
    height: 5.5vh;
    width: 30vw;
    margin: 2.3% 30% 0 0;
    text-align: left;
    padding: 1% 2%;
    box-sizing: border-box;
}

input[name = "bericht"] {
      padding: 0 50% 40% 0;
}
fieldset {
    border-style: none;
}

.hide {
    display: none;
}
.disabled {
    pointer-events: none;
    opacity: 0.7;
}
.fail { 
    background-image: url("../IMG/cross.png"); 
}
.error {
    background-image: url("../IMG/icon-warning.png");
    background-color: rgba(255, 46, 46, 0.7);
}
.pass { 
    background-image: url("../IMG/tick.png");
}
.fail, .pass, .error {
    background-repeat: no-repeat; 
    background-position: 95% center;
}

/*body {
    margin:  0;
    padding: 0;
}*/

/*header {
    width: 100%;
    height: 80px;
    color:  #fff;
    background: red;
    text-align: center;
    position: fixed;
    top: 0;
}*/

/*
#wrapper {
    width: 70%;
    margin: 100px 205px;
}
*/
/*a {
    text-decoration:  none;
}

nav {
    color: white;
    display: block;
    width : 200px;
    position: absolute;
    top: 80px;
    min-height: 200px;
    background-color: blue;
}

nav ul a {
    color: white;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}*/

/*onderstaande is css opmaak voor opdracht 130*/
table {
    border-collapse: collapse;
    border: 2px solid black;
    font-family: Tahoma;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 40%;

}

thead {
    background-color: blue;
    color: white;
}

td {
    border: 2px solid black;
}
tbody td:first-child {
    background-color: red;
    color: white;
}
#vakcijfer {
    font-weight: bold;
    border: 2px solid black;
    font-size: 24px;
}

.schoppen {
    background-position-x: -79px;
}

.twee {
    background-position-y: -369px;
}

#wrapper  input {
    border: none;
    display: block;
    color: white;
    background-color: #000;
    margin: 1vh 0;
    position: relative;
}
#wrapper {
    width: 1240px;
    margin: 100px 87% 40px 13%;
    color: white;
    display: block;
    width : 200px;
    position: absolute;
    top: 80px;
    min-height: 200px;
    background-color: blue;
}

#wrapper > ul 
{
    list-style-type: none;
}

#wrapper ul a {
    color: white;
    font-weight: bold;
}

/*p {
    margin: 3px;
    width: 79px;
    height: 123px;
    float: left;
    left: 88%;
    background-image: url('../css/cards.png');
}*/

hr {
    clear: both;
}

.klaveren {
    background-position-y: 0px;
}

.ruiten {
    background-position-y: -123px;
}

.harten {
    background-position-y: -246px;
}

.schoppen {
    background-position-y: -369px;
}

/*****************
.aas {
    background-position-x: 0;
}

.twee {
    background-position-x: -79px;
}
********************/

.blind {
    background-position-y: -492px;
    background-position-x: -158px;
    position: absolute;
}

div.game{
    position: relative;
    top: 150px;
}

form {
    position: absolute;
    left: 40%;
    right: 40%;
}