/Desktopapp/Steven/bp4_Model/.gradle/
/Desktopapp/Steven/bp4_Model/build/
/Desktopapp/Steven/bp4_maven_model/target/
/Desktopapp/Steven/bp4_Model - Copy/.gradle/
/Desktopapp/Steven/bp4_Model - Copy/build/
/Desktopapp/samengevoegde desktopApplicatie/BeroepsProduct4_Desktop/.gradle/
/Desktopapp/samengevoegde desktopApplicatie/BeroepsProduct4_Desktop/build/
/Desktopapp/Thobian/com.mycompany_BP4Klantinlogpark_Git/target/